:root {
    --cor-background: #fff;
    --cor-primary: #c72725;
    --cor-text: #000;
}

.loading {
    background-color: var(--cor-background);

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    position: absolute;
}

.selfieContainer video {
    transform: scaleX(-1);
    -webkit-transform:scaleX(-1); /* Safari and Chrome */
    -moz-transform:scaleX(-1); /* Firefox */
}

.selfieContainer {
    position: absolute;
    overflow: hidden;

    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;

    background-color: var(--cor-primary);

    -webkit-text-size-adjust: none;
    touch-action: manipulation;
    font-family: 'IBM Plex Mono';
    color: var(--cor-text);

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    display: none;
    
    -khtml-overflow-scrolling:touch;
    -o-overflow-scrolling:touch;
    -moz-overflow-scrolling:touch;
    -webkit-overflow-scrolling:touch

}

h1 {
    font-size: 22px;
}

p {
    font-size: 14px;
    color: var(--cor-text);
}

.corBranco {
    color: #fff;
}

.hidden {
    visibility: hidden;
}

.alignCenter {
    text-align: center;
}

.posicaoAbsolute {
    position: absolute;
}

.centralizado {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.botaoAcao {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 64px;
    background-color: var(--cor-background);
    cursor: pointer;
}

.selfieTextoBotaoAcao {
    color: var(--cor-text) !important;
    width: 100%;
    text-align: center;

    font-size: 12px;

    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.selfieLoading {
    background-color: var(--cor-primary);

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    position: absolute;
}

.uploadManualContainer {
    position: absolute;
    left: 0px; top: 0px;
    width: 100%; height: 100%;
    background-color: var(--cor-primary);

    display: none;
}

.uploadManualCancelar {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.uploadManualButton {
    cursor: pointer;
    text-align: center;
}

.iconeDoc {
    object-fit: contain;
    width: 64px;
    height: 64px;
}

.selfieWebcamParent {
    position: absolute;

    display: none;

    width: 100%;
    height: 100%;
}

.selfieAlertaErro {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    display: none;

    background-color: var(--cor-primary);
}

.selfieAlertaErro p {
    color: #fff;
}

.selfieWebcam {
    position: absolute;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.selfieCanvas {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);

    visibility: hidden;
}

.selfieContainerParent {
    width: 640px;
    height: 480px;
}

.selfieMaskCanvas {
    position: absolute;
}

.semOverflow {
    overflow: hidden;
    width:100vw;
    height:100vh;
}

.selfieMaskCanvasGreen {
    -webkit-filter: contrast(100%) hue-rotate(120deg);
    filter: contrast(100%) hue-rotate(120deg);
}

.documentoQuestaoTimeout {
    color: #fff;
    display: none;

    position: absolute;

    left: 0px;
    right: 0px;

    width: 100%;
    height: 100%;

    z-index: 999;

    background-color: var(--cor-primary);
}

.documentoQuestaoTimeout p {
    cursor: pointer;
}

.textCenter {
    text-align: center;
}

.webcamAviso {
    background-color: rgba(0, 0, 0, 0.75);;

    vertical-align: center;

    width: 300px;
    height: 45px;
    line-height: 16px; 
    padding: 3px;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);

    text-align: center;
}

.webcamAviso p {
    color: white;
    font-weight: bolder;
}

.selfieMaskGreenText {
    color: #6dfb42 !important;
}

.selfieBotaoAcaoCancelar {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.icone {
    padding-bottom: 90px;
}

.selfieRotacioneAparelho {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    display: none;

    background-color: var(--cor-primary);
}

.selfieRotacioneAparelho p {
    color : var(--cor-background);
}

.selfieEmAnalise {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    display: none;

    background-color: var(--cor-primary);
}

.selfieEmAnalise p {
    color: var(--cor-background);
}

.selfieTutorial {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 25px;
}

.selfieTutorialSlider {
    display: none;
    margin-top: 30px;
}


.selfieTutorialIcone {
    width: 175px;
    height: 175px;
    object-fit: contain;
}

.selfieTutorial h1 {
    font-size: 16px;
    color: var(--cor-background);
}

.selfieTutorial p {
    font-size: 12px;
    color: var(--cor-background);
    padding: 10px;
}

.botaoAcaoTutorial {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 64px;
    background-color: var(--cor-background);
    cursor: pointer;
}

.selfieTextoBotaoAcaoTutorial {
    color: var(--cor-text);
    width: 100%;
    text-align: center;

    top: 25%;
    font-size: 12px;

    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.tutorialIcone {
    text-align: center;
}

.tutorialTexto {
    color: var(--cor-branco);
    text-align: center;
}

.selfieFechar {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.selfieTextoAviso {
    font-size: 16px !important;
}

@media only screen and (max-width:410px) {
        
    h1 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .botaoAcao p{
        font-size: 12px;
    }

    .botaoAcaoTutorial p{
        font-size: 12px;
    }
    
    .selfieTutorial {
        margin-top: 80px;    
    }
    
    .selfieTutorialIcone {
        width: 180px;
        height: 180px;
    }
    
    .selfieTutorial h1 {
        font-size: 18px;
    }
    
    .selfieTutorial p {
        font-size: 12px;
    }
}


@media only screen and (min-width:412px) {
        
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .botaoAcao p{
        font-size: 14px;
    }

    .botaoAcaoTutorial p{
        font-size: 14px;
    }

    .selfieTutorial {
        margin-top: 80px;    
    }

    .selfieTutorialIcone {
        width: 200px;
        height: 200px;
    }

    .selfieTutorial h1 {
        font-size: 22px;
    }

    .selfieTutorial p {
        font-size: 14px;
    }
}

  
@media only screen and (min-width:720px) {
        
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .botaoAcao p{
        font-size: 16px;
    }

    .botaoAcaoTutorial p{
        font-size: 14px;
    }

    .selfieTutorial {
        margin-top: 100px; 
    }

    .selfieTutorialIcone {
        width: 225px;
        height: 225px;
    }

    .selfieTutorial h1 {
        font-size: 22px;
    }

    .selfieTutorial p {
        font-size: 16px;
    }
}